.main__nav__list{
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: nowrap;

  overflow: scroll;
}

.main__nav__list::-webkit-scrollbar{
  display: none;
}

.main__nav__item{
  display: flex;
  align-items: center;

  box-sizing: border-box;
  padding: 1.1875rem .75rem;
  border-radius: 50px;

  font-size: .875rem;
  font-weight: 600;
  line-height: 1rem;

  border: solid var(--grey-01) 1px;
}

.main__nav{
  width: 95%;
  margin: 0 auto;
}



/* .main__nav__item::before{
  content: url(../assets/icons/bebidas-icon.svg);
  
} */